<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DeletOrderServlet</servlet-name>
  	<display-name>DeletOrderServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.DeletOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<display-name>DeleteUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteTourServlet</servlet-name>
  	<display-name>DeleteTourServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.DeleteTourServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveOrderServlet</servlet-name>
  	<display-name>SaveOrderServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SaveOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveTourServlet</servlet-name>
  	<display-name>SaveTourServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SaveTourServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveUserServlet</servlet-name>
  	<display-name>SaveUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SaveUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<display-name>UpdateUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateOrderServlet</servlet-name>
  	<display-name>UpdateOrderServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTourServlet</servlet-name>
  	<display-name>UpdateTourServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.UpdateTourServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<display-name>HelloServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TourByNameServlet</servlet-name>
  	<display-name>TourByNameServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.TourByNameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TourByPriceServlet</servlet-name>
  	<display-name>TourByPriceServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.TourByPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeletOrderServlet</servlet-name>
  	<url-pattern>/deleteOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTourServlet</servlet-name>
  	<url-pattern>/deleteTour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveOrderServlet</servlet-name>
  	<url-pattern>/saveOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveTourServlet</servlet-name>
  	<url-pattern>/saveTour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveUserServlet</servlet-name>
  	<url-pattern>/saveUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateOrderServlet</servlet-name>
  	<url-pattern>/updateOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTourServlet</servlet-name>
  	<url-pattern>/updateTour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TourByNameServlet</servlet-name>
  	<url-pattern>/tourByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TourByPriceServlet</servlet-name>
  	<url-pattern>/tourByPrice</url-pattern>
  </servlet-mapping>
</web-app>
